<%- include('partials/header.ejs') %>



<div class="container" style="margin-top: 10px;">
   <h2 class="text-center" style="color: black; margin-bottom:5px;">Your Watched List</h2>
   <hr style="border-top: .2rem solid #1ebba3; width : 100%; margin-top: 0;">
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% if(result) {  %>
        <% result.forEach(function(movie){  %>
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail">
                <% if(movie.Poster == "N/A") { movie.Poster = "https://www.indiaspora.org/wp-content/uploads/2018/10/image-not-available.jpg" } %>
                <img class="img-fluid" src="<%= movie.Poster %>">
                <hr>
                <div class="caption">
                    <p id="Font-change"><%= movie.Title %></p>
                </div>
                <p>
                    <!-- <a href="#" class="btn btn-primary">
                        More info
                    </a> -->
                    <form action="/movies/<%=movie.imdbID %>" method="GET">
                        <button class="btn btn-primary btn-sm">More Info</button>
                    </form>
                </p>
            </div>
        </div>
        <% }) } %>


    </div>
</div>



<%- include('partials/footer.ejs') %>